
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	fontSize: 13;
	color: #eeeeee;
	fontFamily:"微软雅黑"
}

s|Button
{
	fontSize: 14;
	skinClass:ClassReference("skins.SimpleButtonSkin")
}

mx|ToolTip
{
	fontSize: 12;
	color:#000000;
}